[submodule "tools-chfilename"]
	path = tools-chfilename
	url = https://github.com/zhaoyuankui/tools-chfilename.git
[submodule "chfilename"]
	path = chfilename
	url = https://github.com/zhaoyuankui/tools-chfilename.git
[submodule "tools-comake"]
	path = tools-comake
	url = https://github.com/zhaoyuankui/tools-comake.git
[submodule "tools-condense"]
	path = tools-condense
	url = https://github.com/zhaoyuankui/tools-condense.git
